<p>Translation is saved automatically when you leave the translation field.</p>

<p class="language">
	Languages:
    {foreach $locales as $locale}
        <a n:href="this language => $locale">{$locale|upper}</a>{if !$iterator->isLast()} | {/if}
    {/foreach}
</p>

{control dataGrid id => 'kdyby-translation-control-grido'}

<script type="text/javascript">
    $('.grido').grido();
</script>